.btn {
  background: #3ec2e6;
  background-image: -webkit-linear-gradient(top, #3ec2e6, #10657d);
  background-image: -moz-linear-gradient(top, #3ec2e6, #10657d);
  background-image: -ms-linear-gradient(top, #3ec2e6, #10657d);
  background-image: -o-linear-gradient(top, #3ec2e6, #10657d);
  background-image: linear-gradient(to bottom, #3ec2e6, #10657d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #960000;
  background-image: -webkit-linear-gradient(top, #960000, #ff0000);
  background-image: -moz-linear-gradient(top, #960000, #ff0000);
  background-image: -ms-linear-gradient(top, #960000, #ff0000);
  background-image: -o-linear-gradient(top, #960000, #ff0000);
  background-image: linear-gradient(to bottom, #960000, #ff0000);
  text-decoration: none;
}